**/bin
**/obj
**/.vs
**/.nuget
*.csproj.user
/build
/test/integration/openapi-clients/java/srsclient/client/.metadata
/test/integration/openapi-clients/java/srsclient/client/.settings
/test/integration/openapi-clients/java/srsclient/client/target
/test/integration/openapi-clients/java/srsclient/clientsdk/gradle/wrapper
/srs-appliance/packer_cache
srs-appliance/output-iso
srs-appliance/files/pclirunspace-docker-image.tar
srs-appliance/files/srs-apigateway-docker-image.tar
srs-appliance/files/srs-base-docker-image.tar
srs-appliance/files/srs-reverse-proxy-docker-image.tar
srs-appliance/files/srs-setup-docker-image.tar
/src/Endpoint/VMware.ScriptRuntimeService.APIGateway/logs
/appliance/files/*.tar
/appliance/output-iso
/appliance/packer_cache
/appliance/vsphere-libs-output
