/build
/src/vSphereIntegrationLibraries/VMware.Http.Sso.Authentication/bin/Debug/netcoreapp3.0
src/vSphereIntegrationLibraries/VMware.Http.Sso.Authentication/bin/
/test/integration/tests/helpers/CertificateValidators/src/CertificateValidators/.vs/CertificateValidators/v16
/test/integration/tests/helpers/CertificateValidators/src/CertificateValidators/CertificateValidators/bin
/test/integration/tests/helpers/CertificateValidators/src/CertificateValidators/CertificateValidators/obj
/test/integration/tests/helpers/CertificateValidators/src/CertificateValidators/.vs/CertificateValidators/DesignTimeBuild/.dtbcache.v2
/test/integration/openapi-clients/java/srsclient/client/.metadata
/test/integration/openapi-clients/java/srsclient/client/.settings
/test/integration/openapi-clients/java/srsclient/client/target
/test/integration/openapi-clients/java/srsclient/clientsdk/gradle/wrapper
/srs-appliance/packer_cache
srs-appliance/output-vmware-iso
srs-appliance/files/pclirunspace-docker-image.tar
srs-appliance/files/srs-apigateway-docker-image.tar
srs-appliance/files/srs-base-docker-image.tar
srs-appliance/files/srs-reverse-proxy-docker-image.tar
srs-appliance/files/srs-setup-docker-image.tar
/src/Endpoint/VMware.PSExecutionHost.APIGateway/build/.nuget
/src/vSphereIntegrationLibraries/test/VMware.ScriptRuntimeService.Ls.Tests/bin
/src/vSphereIntegrationLibraries/test/VMware.ScriptRuntimeService.Ls.Tests/obj
/src/vSphereIntegrationLibraries/test/VMware.ScriptRuntimeService.SsoAdmin.Tests/bin
/src/vSphereIntegrationLibraries/test/VMware.ScriptRuntimeService.SsoAdmin.Tests/obj
/src/vSphereIntegrationLibraries/test/VMware.ScriptRuntimeService.Sts.Tests/bin
/src/vSphereIntegrationLibraries/test/VMware.ScriptRuntimeService.Sts.Tests/obj
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.Ls/bin
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.Ls/obj
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.SsoAdmin/bin
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.SsoAdmin/obj
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.Sts/bin
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.Sts/obj
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.WsTrust/bin
/src/vSphereIntegrationLibraries/VMware.ScriptRuntimeService.WsTrust/obj
/src/RunspaceProviders/Kubernetes/VMware.ScriptRuntimeService.K8sRunspaceProvider/obj
/src/RunspaceProviders/Kubernetes/VMware.ScriptRuntimeService.K8sRunspaceProvider/bin
/src/RunspaceProviders/VMware.ScriptRuntimeService.RunspaceProviders.Types/bin
/src/RunspaceProviders/VMware.ScriptRuntimeService.RunspaceProviders.Types/obj
/src/RunspaceProviders/Docker/test/VMware.ScriptRuntimeService.Docker.Bindings.Tests/bin
/src/RunspaceProviders/Docker/test/VMware.ScriptRuntimeService.Docker.Bindings.Tests/obj
/src/RunspaceProviders/Docker/test/VMware.ScriptRuntimeService.DockerRunspaceProvider.Tests/bin
/src/RunspaceProviders/Docker/test/VMware.ScriptRuntimeService.DockerRunspaceProvider.Tests/obj
/src/RunspaceProviders/Docker/VMware.ScriptRuntimeService.Docker.Bindings/bin
/src/RunspaceProviders/Docker/VMware.ScriptRuntimeService.Docker.Bindings/obj
/src/RunspaceProviders/Docker/VMware.ScriptRuntimeService.DockerRunspaceProvider/bin
/src/RunspaceProviders/Docker/VMware.ScriptRuntimeService.DockerRunspaceProvider/obj
/src/RunspaceProviders/Kubernetes/test/VMware.ScriptRuntimeService.K8sRunspaceProvider.Tests/bin
/src/RunspaceProviders/Kubernetes/test/VMware.ScriptRuntimeService.K8sRunspaceProvider.Tests/obj
/src/Endpoint/test/VMware.ScriptRuntimeService.RunspaceClient.Tests/bin
/src/Endpoint/test/VMware.ScriptRuntimeService.RunspaceClient.Tests/obj
/src/Endpoint/VMware.ScriptRuntimeService.RunspaceClient/bin/Debug/netcoreapp3.0
/src/Endpoint/VMware.ScriptRuntimeService.RunspaceClient/obj
/src/Runspace/test/VMware.ScriptRuntimeService.Runspace.PSScriptExecutionEngine.Tests/bin
/src/Runspace/test/VMware.ScriptRuntimeService.Runspace.PSScriptExecutionEngine.Tests/obj
/src/Runspace/VMware.ScriptRuntimeService.Runspace.PSScriptExecutionEngine/bin
/src/Runspace/VMware.ScriptRuntimeService.Runspace.PSScriptExecutionEngine/obj
/src/Runspace/VMware.ScriptRuntimeService.Runspace.Types/bin
/src/Runspace/VMware.ScriptRuntimeService.Runspace.Types/obj
/src/Runspace/VMware.ScriptRuntimeService.RunspaceEndpoint/bin
/src/Runspace/VMware.ScriptRuntimeService.RunspaceEndpoint/obj
/src/Endpoint/test/VMware.ScriptRuntimeService.APIGateway.Tests/bin
/src/Endpoint/test/VMware.ScriptRuntimeService.APIGateway.Tests/obj
/src/Endpoint/VMware.ScriptRuntimeService.APIGateway/bin
/src/Endpoint/VMware.ScriptRuntimeService.APIGateway/build/.nuget
/src/Endpoint/VMware.ScriptRuntimeService.APIGateway/logs
/src/Endpoint/VMware.ScriptRuntimeService.APIGateway/obj
/src/Admin/test/VMware.ScriptRuntimeService.Setup.Tests/bin
/src/Admin/test/VMware.ScriptRuntimeService.Setup.Tests/obj
/src/Admin/VMware.ScriptRuntimeService.Setup/bin
/src/Admin/VMware.ScriptRuntimeService.Setup/obj
/src/vSphereIntegrationLibraries/test/VMware.Http.Sso.Authentication.Tests/bin
/src/vSphereIntegrationLibraries/test/VMware.Http.Sso.Authentication.Tests/obj
/src/vSphereIntegrationLibraries/VMware.Http.Sso.Authentication/obj
/test/integration/openapi-clients/dotnet/SrsClient/.vs
/test/integration/openapi-clients/dotnet/SrsClient/SrsClient/bin
/test/integration/openapi-clients/dotnet/SrsClient/SrsClient/obj
/appliance/files/*.tar
/appliance/output-vmware-iso
/appliance/packer_cache
/src/Endpoint/VMware.ScriptRuntimeService.RunspaceClient/bin
/src/Endpoint/VMware.ScriptRuntimeService.RunspaceClient/obj
/test/api-integration-tests/tests/helpers/CertificateValidators/src/CertificateValidators/.vs/CertificateValidators
/test/api-integration-tests/tests/helpers/CertificateValidators/src/CertificateValidators/CertificateValidators/bin
/test/api-integration-tests/tests/helpers/CertificateValidators/src/CertificateValidators/CertificateValidators/obj
/test/openapi-clients/dotnet/SrsClient/.vs
/test/openapi-clients/dotnet/SrsClient/SrsClient/bin/Debug/netcoreapp3.1
/test/openapi-clients/dotnet/SrsClient/SrsClient/obj
